/* Overall container */
.container {
  display: flex;
  height: 1600px; /* Adjust height considering header */
  margin-top: 100px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Header */
.top-header {
  width: 100%;
  background-color: #3f3e3e; /* Dark background */
  color: white; /* White text */
  padding: 10px 20px; /* Adds some left padding */
  display: flex;
  text-align: left; /* Ensures text aligns left */
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px; /* Keep it short */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: #80807f;
  padding: 10px 30px;
  border-radius: 10px;
  margin-right: 70px;
  position: relative;
  top: -5px;
}

.pdf-link:hover {
  background-color: #7c7c7b; 
  color: #fffffe; 
}

/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: black;
  height: 745px;
  position: sticky;
  top: 100px;
}


.sidebar-info{
  width: 1000px;
  margin-left: -25px;
  line-height: 0.7;
}

.profile-img {
  width: 240px;
  height: 240px;
  margin-left: 25px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 5px 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  display: block; /* Makes links take full width */
  padding-left: 50px;
  margin-left: -25px;
}

nav ul li a:hover {
  color: #555; 
}

body {
  background-color: #ffffff; /* Light gray or any color you prefer */
}

.main-body{
  padding-right: 100px;
}

/* Content section */
.content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 50px;
  text-align: left; 
  color: black;
}

.project-img {
  width: 100%;
  max-width: 600px;
  margin-left: 50px;
}

h1, h2, p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 400px;
}

p {
  font-size: 18px; /* Adjust size as needed */
  margin-bottom: 40px;
}