/* Overall container */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  width: 300px;
  background-color: #c3bfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
}

.profile-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 5px 0;
}

nav ul li a {
  color: rgb(71, 70, 70);
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #555; 
}

body {
  background-color: #ffffff; /* Light gray or any color you prefer */
}

/* Content section */
.content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  color: black;
}

h1, h2, p {
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
