/* Overall container */
.container {
  display: flex;
  height: calc(100vh - 100px); /* Adjust height considering header */
  margin-top: 100px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Header */
.top-header {
  width: 100%;
  background-color: #333; /* Dark background */
  color: white; /* White text */
  padding: 10px 20px; /* Adds some left padding */
  text-align: left; /* Ensures text aligns left */
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px; /* Keep it short */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
}


/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #c3bfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
}

.profile-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 5px 0;
}

nav ul li a {
  color: rgb(71, 70, 70);
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #555; 
}

body {
  background-color: #ffffff; /* Light gray or any color you prefer */
}

/* Content section */
.content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  text-align: left; 
  color: black;
}

h1, h2, p {
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
